.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
