@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header {
    cursor: pointer;
    color: #351E29;
    font-size: 50px;
    margin-top: 3%;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 0px #028692;
    letter-spacing: 1px;
}
