.or-divider {
    margin: 10px;
    text-align: center;
    font-weight: 600;
    font-weight: 300;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}

.logout-divider {
    margin-top: 100px;
    text-align: center;
    font-weight: 300;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}

.greet {
    margin: 20px;
    text-align: center;
    font-weight: 600;
}

.home {
    width: 100%;
    /* margin: auto; */
}
